# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc

# dbt local profiles (never commit secrets)
dbt/profiles.yml

# OS junk
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Prefect local storage
.prefect/
